* {
    font-family: "Roboto", sans-serif;
}

body {
    background-color: white;
}

.header {
    max-height: 76px;
}

.container-header {
    display: flex;
    max-height: 75px;
    padding: 0 20px;
    justify-content: space-between;
    align-items: center;
}
.header-logo {

}

.header-logo a img {
    height: 75px;
}

.header-list {
    width: 500px;

}

.nav {
    padding-left: 0px;

}

.nav-item {

    font-size: 18px;
    text-decoration: none;
    display: inline-block;
    margin: 0px 25px;

}
.nav-item a {
    color: black;
    text-decoration: none;
}
.nav-item a:hover {
    cursor: pointer;
    color: #f9bb0d;
}
.header-button {

}

.header-icon {
    margin: 0px 11px;
    font-size: 19px;
}